<%= simple_form_for @event, :html => { :class => 'form-horizontal well' } do |f| %>
  <%= f.input :name, hint: "Podaj nazwę dla nowego wydarzenia" %>
  <%= f.input :poster %>
  <%= f.input :description, hint: "Opisz swoje wydarzenie w samych superlatywach!" %>
  <%= f.input :start %>
  <%= f.input :end %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to "Anuluj",
                events_path, :class => 'btn' %>
  </div>
<% end %>