<div class="row">
  <div class="span3 offset3">
    <%= link_to icon("download","POBIERZ GALERIĘ"), "#", id: "get_gallery", class: "btn btn-large btn-success" %>
  </div>
</div>

<div class="row" id="gallery_content">
  <div class="span1">
    <%= link_to icon("chevron-left icon-3x"), "#", id: "prev_image" %>
    <%= link_to icon("chevron-right icon-3x"), "#", id: "next_image" %>
  </div>
  <div class="span8" id="image_content">
  </div>
</div>
