<div class="page-header">
  <h1>Wszystkie wydarzenia</h1>
</div>
<% if @events.blank? %>
  <p>Brak danych</p>
<% else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nazwa</th>
        <th>Start</th>
        <th>Koniec</th>
        <th>Utworzono</th>
      </tr>
    </thead>
    <tbody>
      <% @events.each do |event| %>
        <tr>
          <td>
            <% if event.poster_url %>
              <%= image_tag event.poster_url(:minithumb), class: "img-polaroid" %>
            <% else %>
              <%= image_tag "minithumb.jpg", class: "img-polaroid" %>
            <% end %>
            <%= link_to event.name, event %>
          </td>
          <td class="start_date"><%=l event.start %></td>
          <td><%=l event.end %></td>
          <td><%=l event.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= link_to "Dodaj nowe", new_event_path, class: 'btn btn-primary' %>
