<%- model_class = Event -%>
<div class="page-header">
  <h1><%= icon "bar-chart", @event.name %></h1>
</div>

<div class="row">
  <div class="span4">
    <% if @event.poster_url %>
      <%= image_tag @event.poster_url(:thumb), class: "img-rounded" %>
    <% else %>
      <%= image_tag "thumb.jpg", class: "img-rounded" %>
    <% end %>
  </div>
  <div class="span5">
    <div class="well">
      <div><%= link_to icon("download-alt", "opis"), "#", class: "btn btn-success btn-small", id: "description_btn" %></div>
      <div id="description_info">
        <span class="label label-info">Opis</span>
      </div>
    </div>
    <div class="well">
      <span class="label label-success">Start</span>
      <%=l @event.start %>
    </div>
    <div class="well">
      <span class="label label-important">Koniec</span>
      <%=l @event.end %>
    </div>
  </div>
</div>

<% content_for :sidebar do %>
  <div class="well sidebar-nav">
    <h3><%= icon "cogs", "Panel" %></h3>
    <ul class="nav nav-list">
      <li class="nav-header">Akcje</li>
      <li><%= link_to icon("chevron-left", "Cofnij"), events_path %></li>
      <li><%= link_to icon("edit", "Edytuj"), edit_event_path(@event) %></li>
      <li><%= link_to icon("remove", "Usuń"), event_path(@event), 
        method: 'delete',
        data: { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } %>
      </li>
    </ul>
  </div><!--/.well -->
<% end %>