@import "twitter/bootstrap/bootstrap";
@import "twitter/bootstrap/responsive";

// United 2.2.2
// Bootswatch
// -----------------------------------------------------


// TYPOGRAPHY
// -----------------------------------------------------

@import url(//fonts.googleapis.com/css?family=Ubuntu);

// SCAFFOLDING
// -----------------------------------------------------

// NAVBAR
// -----------------------------------------------------

.navbar {

  .nav > li > a {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.1);

    &:hover {
      border-left: 1px solid rgba(0, 0, 0, 0.2);
    }
  }

  .nav > .active > a,
  .nav > .active > a:hover {
    border-left: 1px solid rgba(0, 0, 0, 0.2);
  }

  .divider-vertical {
    background-color: inherit;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
  }

  .navbar-text {
    padding: 9px 10px 11px;
    line-height: 19px;
    color: @white;
  }

  .navbar-search .search-query {
    margin-bottom: 3px;
    border: 1px solid darken(@navbarBackground, 15%);
  }
}

@media (max-width: @navbarCollapseWidth) {

  .navbar .nav-collapse {

    .nav li > a {
      color: @white;
      border-left: 0px solid @orange;
      border-right: 0px solid @orange;

      &:hover {
        background-color: rgba(0, 0, 0, 0.3) !important;
        background-image: none;
      }
    }

    .navbar-form,
    .navbar-search {
      border-top: 0px solid @orange;
      border-bottom: 0px solid @orange;
      .box-shadow(none);
    }

    .nav-header {
      color: @grayLighter;
    }
  }
}

// NAV
// -----------------------------------------------------

.nav-tabs .open .dropdown-toggle,
.nav-pills .open .dropdown-toggle,
.nav > li.dropdown.open.active > a:hover {
  border-right: 1px solid #C03D14;
  border-left: 1px solid #E6633A;
}

// BUTTONS
// -----------------------------------------------------

.btn-primary {
  .buttonBackground(lighten(@btnPrimaryBackground, 15%), @btnPrimaryBackground);
}

.btn-warning {
  .buttonBackground(lighten(@yellow, 15%), @yellow);
}

// TABLES
// -----------------------------------------------------

// FORMS
// -----------------------------------------------------

// DROPDOWNS
// -----------------------------------------------------

// ALERTS, LABELS, BADGES
// -----------------------------------------------------

.alert {
  text-shadow: none;
}

// MISC
// -----------------------------------------------------

.hero-unit {
    border: 1px solid rgba(0,0,0,.05);
    .box-shadow(inset 0 1px 1px rgba(0,0,0,.05));

  h1 {
    line-height: 1.6em;
  }
}

// MEDIA QUERIES
// -----------------------------------------------------
