// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#event_description{
  width: 205px;
  height: 120px;
}

.datetime select{
  width: 70px;
}
